*.jpg
Office.Data/Office.API/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Office.Data/Office.API/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Office.Data/Office.API/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Office.Data/Office.API/obj/Release/Office.API.csproj.FileListAbsolute.txt
Office.Data/Office.API/obj/Release/Office.API.csproj.App.config
Office.Data/Office.Data/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Office.Data/Office.Data/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Office.Data/Office.Data/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Office.Data/Office.BusinessLogic/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Office.Data/Office.BusinessLogic/obj/Release/Office.BusinessLogic.csproj.FileListAbsolute.txt
Office.Data/Office.BusinessLogic/obj/Release/Office.BusinessLogic.csproj.App.config
Office.Data/Office.BusinessLogic/bin/Release/Newtonsoft.Json.xml
Office.Data/Office.Data/obj/Release/Office.Data.csproj.FileListAbsolute.txt
Office.Data/Office.BusinessLogic/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Office.Data/Office.BusinessLogic/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Office.Data/Office.BusinessLogic/bin/Release/System.Net.Http.Primitives.xml
Office.Data/Office.BusinessLogic/bin/Release/System.Net.Http.Extensions.xml
Office.Data/Office.BusinessLogic/bin/Release/Office.BusinessLogic.dll.config
