<div ng-controller="personCtrl">
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Persons</li>
        <li class="active">{{groupId}}</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Persons</h1>
    </div>
</div><!--/.row-->
    <div>
        <a href="#/persons/add/{{groupId}}"><button class="btn btn-primary">Add Person</button></a>
    </div>
<table>
    <thead>
    <tr>
        <th>Person Id</th>
        <th>Person Name</th>
        <th>Position</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="model in viewModel.data">
        <td>1{{model.PersonId}}</td>
        <td>{{model.Name}}></td>
        <td>{{model.UserData}}</td>
        <td><button class="btn btn-danger" ng-click="viewModel.delete(groupId, model.PersonId)">Delete</button></td>
    </tr>
    </tbody>
</table>
</div>