<div ng-controller="personCtrl">
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Persons</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Persons</h1>
    </div>
</div><!--/.row-->

<table>
    <thead>
    <tr>
        <th>Person Id</th>
        <th>Person Name</th>
        <th>Position</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>showSpeed</strong></td>
        <td>15</td>
        <td>The speed of the show/reveal</td>
        <td><button class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
</table>
</div>